In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv("edge.csv")
print(data)

      sourceID  targetID edgeType
0           35      1033    type0
1           35    103482    type0
2           35    103515    type0
3           35   1050679    type0
4           35   1103960    type0
...        ...       ...      ...
5424    853116     19621    type0
5425    853116    853155    type0
5426    853118   1140289    type0
5427    853155    853118    type0
5428    954315   1155073    type0

[5429 rows x 3 columns]

In [16]:
df = df.sample(frac=1.0)
df

      sourceID  targetID edgeType
1978     14428   1103969    type0
2796     33412    211875    type0
2359     22563   1121459    type0
1820     12210     12182    type0
2216     19621      6184    type0
...        ...       ...      ...
5339    688824   1133008    type0
4225    141160   1109891    type0
4821    341188    682666    type0
4420    184157     95435    type0
21          35   1128314    type0

[5429 rows x 3 columns]

In [17]:
df.reset_index(drop=True, inplace=True)
df

      sourceID  targetID edgeType
0        14428   1103969    type0
1        33412    211875    type0
2        22563   1121459    type0
3        12210     12182    type0
4        19621      6184    type0
...        ...       ...      ...
5424    688824   1133008    type0
5425    141160   1109891    type0
5426    341188    682666    type0
5427    184157     95435    type0
5428        35   1128314    type0

[5429 rows x 3 columns]

In [24]:
# 1:2:3:4分别赋值为type1、type2、type3、type4
df1 = df.loc[0:542]
df1['edgeType']="type1"
df2 = df.loc[543:1628]
df2['edgeType']="type2"
df3 = df.loc[1629:3256]
df3['edgeType']="type3"
df4 = df.loc[3257:5428]
df4['edgeType']="type4"
df.out_csv("out.csv")

      sourceID  targetID edgeType
0        14428   1103969    type1
1        33412    211875    type1
2        22563   1121459    type1
3        12210     12182    type1
4        19621      6184    type1
...        ...       ...      ...
5424    688824   1133008    type4
5425    141160   1109891    type4
5426    341188    682666    type4
5427    184157     95435    type4
5428        35   1128314    type4

[5429 rows x 3 columns]